.journeys{
    width: 80%;
    height: 80%;
    margin-top: 5%;
    
}

.blurryBox {
    position:relative;
    width: 60em;
    height: 40em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.blurryBox::before {
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8SEhUSDw8VFRUVFxUVFRUVFRUVFRUVFRUWFxUVFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0NDw0NDisZFRkrNysrKysrLSsrKysrLSsrKysrKystKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAOEA4QMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAGhABAQEBAAMAAAAAAAAAAAAAAAERIRKh8P/EABYBAQEBAAAAAAAAAAAAAAAAAAABAv/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AOv0BkAAAAAoAAAAAEKBQhQAAAAAoAAAAABQXBkBQAAAAAIAAAAAAAAAAAAABCgAAAAAABwQBQAAAAAAAAAAAAAAoAAABgAAAAAAAAHkGAAAAAAAAFAAAAAgAAAAAAAAFAAAAAlKAGhgAAAAAQAKEAAAAAIUIBAAAAAAKQgBQAAAChAQXgKBgIAAAAAAAAAAAAAAAAAAAAAAAAYAALoCAAAAAQAAAAAADAAAAAAAAAAAAAAMAAwQQWgKAAAAAUAAAAACFAoQAAAAACgAAAAAFA8RAFAAAAAAgAAAAAAAAAAAAAEKAAAAAAALwZAUAAAADAAAAAAAAAAAAAAMAAAAAAADADQwAAAAAAAAoAAAAEAAAAAAAAAAAAAAAA0MAAAAAAAKQAAAAACgAFAAAAAKQgAAAAAUICDQKgAgAAQARQAAAAAAAAAAAAAAAAAAAwAAXYAgAAAAAAAAAAAAAAAAAAAAAAAAAGAABoAIAoAFIAFAAIABQBFoAfehAFgACAC0AAAAAAoAgAP/2Q==);
    z-index: -1;
  }