#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4rem;
    height: 4rem;
}

.centerClass {
    text-align: center;
}

#logoTitle {
    margin-left: 4rem;
    margin-top: 1rem;
}

.addressShown {
    text-align: right;
    display: inline-block;
    float: right;
    margin-top: 1rem;
}